body{
    margin: auto 0px;
}

#boton{
    background-color: lightblue;
    color:black;
}
#colorFondo{
    background-color:white;
    margin: auto 0px;
}
#colorsito{
    background-color:#85C8D9;
    margin: auto 0px;
}

#botonProyNuevo{
    float: right;
    background-color: #129ABC;
}
#fondoP{
    background-color: #129ABC;
}
#fondoTarjeta{
    max-width: 730px;
    height: 900px;
}
#f1{
    width: 160px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #DEDEE5;

}
.fecha1{
    width: 160px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #DEDEE5;
}
.txt{
    width: 650px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #DEDEE5;

}
.btncerrar{
    float: right;
    background: red;
    width: 10px;
    height: 8px;

}
.chica{
    font-size: 1em;
    font-family:  sans-serif;
}
.Logo{
    position: relative;
    width: 180px;
    height: 80px;
    left: 16px;
    top: -20px;
    opacity:3.8;
}
.logo2{
    position: relative;
    width: 10px;
    height: 10px;


}
.fondito{
    background-color: #F7F6F2;
}

.boton{
    margin-top: 8px;
    background-color: #34A1F5;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin-left: 14px;
    width: 30px;
    height: 30px;
    padding-right: 12px;
    margin-right: -2px;
}

.grande{
    margin-left: 15px;
    font-size: 1.9em;
    font-family:  sans-serif;
}
.mediana{
   font-size: 1.6em;
   font-family: Verdana Tahoma, sans-serif;
}

.nito{
    font-weight: bold;
}

.slider{
    margin: auto 0px;
    min-height: 1024px; 
}

