body{
    margin: auto 0px;
}

#boton{
    background-color: lightblue;
    color:black;
}
#colorFondo{
    background-color:white;
    margin: auto 0px;
}
#colorsito{
    background-color:#85C8D9;
    margin: auto 0px;
    height: 55px;
}

#botonProyNuevo{
    float: right;
    background-color: #129ABC;
}
#fondoP{
    background-color: #129ABC;
}
#fondoTarjeta{
    margin:  auto 0 px;
    min-width: 730px;
    min-height: 1050px;
}
#f1{
    width: 160px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #DEDEE5;

}
#fechaIzq{
    width: 155px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #DEDEE5;
    margin-left: 500px;
    margin-top:-20px;
}
#fAvance{
    width: 90px;
    height: 25px;
}
#montoEjer{
    width: 120px;
    height: 25px;
}
#banner{
   
    background-color: #2196f3;
    height: 72px;

}
#fondoSlider{
    background-color: #424242;
    position: fixed;

}
#tabla{
   width: 675px;
   height: 120px;
}
#tabla2{
    width: 675px;
    height: 140px;
 }


.fecha1{
    width: 160px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #DEDEE5;
}

.txt{
    width: 650px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #DEDEE5;

}
.btncerrar{
    float: right;
    background: red;
    width: 10px;
    height: 8px;

}
.chica{
    font-size: 1em;
    font-family:  sans-serif;
}
.Logo{
    position: relative;
    width: 175px;
    height: 56px;
    left: 24px;
    top: -63px;
    opacity:3.8;
}
.loguito{
    position: relative;
    width: 224px;
    height: 72px;
    left: 1px;
    top: -128px;
    background-color: rgba(0, 25, 253, 0.4);
    border: transparent;
}
.logo2{
    position: relative;
    width: 10px;
    height: 10px;


}
.fondito{
    background-color: #F7F6F2;
}
.fonditoD{
    background-color: rgba(173, 167, 167, 0.4);
}

.boton{
    margin-top: 8px;
    background-color: #34A1F5;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin-left: 14px;
    width: 30px;
    height: 30px;
    padding-right: 12px;
    margin-right: -2px;
}

.grande{
    margin-left: 15px;
    font-size: 1.9em;
    font-family:  sans-serif;
}
.mediana{
   font-size: 1.6em;
   font-family: Verdana Tahoma, sans-serif;
}
.chica{
    font-size: 0.8em;
    font-family: sans-serif;
}

.nito{
    font-weight: bold;
}

.slider{
    margin: auto 0px;
    min-height: 1024px; 
}
.izquierda{
    margin-left: 430px;

}


